@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Cutive Mono", monospace;
  font-style: normal;
}

#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1rem;
  flex: 1;
  align-content: start;
}

.button {
  border-radius: 50%;
  aspect-ratio: 1;
  color: white;
  font-size: 1rem;
  padding: 0.3em 0.6em;
  position: relative;
}

@media (min-width: 380px) {
  .button {
    font-size: 1.5rem;
    padding: 0.4em 0.8em;
  }
}

@media (min-width: 620px) {
  .button {
    font-size: 2rem;
    padding: 0.5em 1em;
  }
}

.answer.checked::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.answer.checked.right::after {
  content: "✅";
}

.answer.checked.wrong::after {
  content: "❌";
}

.challenge {
  min-height: 4lh;
  font-size: 1.5rem;
  color: hsl(0 67% 9%);

  & .color {
    display: inline-block;
    width: 0;
    height: 1.8rem;
    overflow: hidden;
    padding-left: 1.8rem;
    border-radius: 50%;
    position: relative;
    top: 0.3rem;
  }
}

@media (min-width: 380px) {
  .button {
    font-size: 2rem;
  }
}
